@model List<Ogrenci>
@{
    ViewData["Title"] = "Index";
}

<h1>Öğrenci Listesi</h1>
<div>
    <p>Yeni öğrenci kaydı oluşturmak için 'Öğrenci Ekle' butonuna tıklayın. </p>
    <a asp-controller="Student" asp-action="AddStudent" class="btn btn-success">Öğrenci Ekle</a>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Numara</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model )
            {
                <tr>
                    <td>@item.Ad</td>
                    <td>@item.Soyad</td>
                    <td>@item.Numara</td>
                    <td><a href="/Student/DeleteStudent/@item.Ogrenciid" class="btn btn-danger btn-sm" onclick="return confirm('Emin misiniz?')">Sil</a> <a href="/Student/UpdateStudent/@item.Ogrenciid" class="btn btn-sm btn-primary">Düzenle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

