@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title> Okul Sistemi </title>
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
</head>
<body>
    <main>
        <section id="content">
            
        </section>

        <section id="how-it-works">
            <div class="row">
                <h2>Nedir?</h2>
                <p>Öğrenci ve Öğretmen Bilgi Sistemi'nde öğretmen ve öğrencilere ait bilgilere buradan erişebilirsiniz. Kayıt ekleme, güncelleme ve silme işlemlerini gerçekleştirebilirsiniz.</p>
            </div>

            <div class="row">
                <div class="icon-box col">
                    <i class="fa fa-address-card fa-lg" aria-hidden="true"></i>
                    <h3>Kayıt Ekle</h3>
                    <p>Öğretmen veya öğrenci kaydını ekleyebilirsiniz.</p>
                </div>
                <div class="icon-box col">
                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                    <h3> Kayıt Güncelleme </h3>
                    <p>Öğretmen veya öğrenci bilgisini güncelleyebilirsiniz.</p>
                </div>
                <div class="icon-box col">
                    <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    <h3>Kayıt Silme</h3>
                    <p>Öğretmen veya öğrenci kaydını silebilirsiniz.</p>
                </div>
            </div>
        </section>
    </main>
</body>