@model Ogretmen
@{
    ViewData["Title"] = "AddStudent";
}

<h1>Öğretmen Ekleme</h1>

<form asp-controller="Ogretmen" asp-action="AddOgretmen" method="post">
    <div class="mb-3">
        <label class="form-label">Öğretmen Adı</label>
        <input class="form-control" type="text" asp-for="Ad">

    </div>
    <div class="mb-3">
        <label class="form-label">Öğretmen Soyadı</label>
        <input class="form-control" type="text" asp-for="Soyad">

    </div>
    <div class="mb-3">
        <label class="form-label">Tc Kimlik Numarası</label>
        <input class="form-control" type="text" asp-for="Tckimlik">

    </div>
    

    <input type="submit" class="btn btn-success" value="Kaydet" />


</form>

@if (TempData["sonuc"] != null && (bool)TempData["sonuc"])
{
    <script>
        alert('Ekleme İşlemi Başarılı!');
    </script>
}